#meenu
{
color:green;
fony-family:algerian;
font-weight:bold;
font-variant:small-caps;

font-size:25px;
}

header
{
margin-left:300px;
margin-right:300px;
border-style:dotted;
border-width:10px;
border-color:blue;
padding:5px 10px 5px 240px; 
}

div>p
{
margin-left:300px;
margin-right:300px;
border-style:solid;
border-width:7px;
border-color:black;
padding:20px 20px 20px 20px;
background-color:pink;
}







.meenu
{
color:red;
font-weight:italics;
font-variant:small-caps;
font-family:arial;
font-size:25px;
}
h3
{
font-weight:underline;
font-size:25px;
font-family:georgia;
}
h3,u,h4,i
{
font-size:20px;
}